@model List<University1.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Список ролей</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(model => user.UserName)
        </td>
        <td>
            @Html.DisplayFor(model => user.Id)
        </td>
    </tr>
    }
</table>
