@model University1.Test

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Тест</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название теста
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            Название курса
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сourse.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index", new { id = Model.CourseID })
        </div>
    }
</div>
