
@{
    ViewBag.Title = "Ошибка";
}

<h2>Ошибка</h2>
Извините, тест в разработке
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="~/Home">Вернуться на главную &raquo;</a></p>
    </div>
</div>

